In [1]:
import pandas as pd

df = pd.read_csv('../merged_checked.csv')

df

,id,title,label,annotator,Q1.1,Q1.2,Q1.3,Q1.3.1,Q1.4,Q1.5,Q1.6,Q1.7,Q1.7.1,Q1.7.1.2,Q2.8,Q2.9.1,Q2.9.2,Q2.10
0,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Group 2,Manuel,1,2,31,-1,2,4,4,1,0,-1,1,2,2021-05-31,2
1,18d71db7-f362-46fa-953e-d8353c7f7232,Coronavirus| nuove regole: al tavolo al ristor...,Group 2,Angelo,1,3,10,1,1,4,4,1,0,-1,1,2,2021-05-31,2
2,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Group 2,Manuel,1,4,10,-1,2,4,4,1,0,-1,3,2,2021-05-31,2
3,3ca70f03-38f3-4a7b-bdd3-f012b22e0c7e,Israele: Lapid| ostacoli ma fiducioso su nuovo...,Group 2,Marinella,1,4,10,-1,1,4,4,2,5,-1,3,2,2021-05-31,2
4,34b92f4c-32db-454c-a369-ca2032443f6c,Le borsette fatte a 3 euro l'ora vendute a 820...,Group 1,Manuel,2,3,31,-1,1,3,2,2,5,Fashion craft industries system,3,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,95357073-ff48-47ab-a0ad-62324150033a,L’imprenditore che produce monoclonali a Latin...,Group 1,ChatGPT4AsAnnotator,3,4,1,2,2,3,3,1,1,-1,3,2,2021-02-01,2
978,d30b11b6-a665-438c-8ee2-12ea175daeb5,"I nuovi colori da lunedì 17 maggio, l’ordinanz...",Group 1,ChatGPT4AsAnnotator,1,4,1,2,2,4,3,1,0,-1,3,2,2021-05-17,2
979,abe99528-6405-4ebb-9b2f-2e76fb08ac53,Anche le Carresi inseguono la Zona Bianca,Group 2,ChatGPT4AsAnnotator,3,4,1,2,2,4,3,1,1,-1,3,2,NaN,1
980,8633735e-f183-4d8e-a1e7-9d49b1a2a7b4,Le stoccate di Draghi per infilzare Conte,Group 1,ChatGPT4AsAnnotator,2,4,1,2,2,2,2,2,11,Giuseppe Conte,3,2,NaN,1
981,23bae5d9-64ee-46b3-b479-ebd24f5f4a98,"Natalità. Assegni generosi, congedi e servizi....",Group 1,ChatGPT4AsAnnotator,3,4,1,2,2,4,3,1,1,-1,3,2,NaN,1

In [2]:
# Filtra gli articoli annotati sia da Manuel che da ChatGPT4AsAnnotator
df = df[
    (df['annotator'] == 'Manuel') | 
    (df['annotator'] == 'ChatGPT4AsAnnotator')
]
df


# Conta quante volte appare ciascun articolo
article_counts = df['id'].value_counts()

# Filtra il DataFrame mantenendo solo le righe degli articoli che compaiono esattamente due volte
df = df[df['id'].isin(article_counts[article_counts == 2].index)]

# Ora df_filtered contiene solo le righe degli articoli che compaiono due volte
print(df)

                                       id  \
0    18d71db7-f362-46fa-953e-d8353c7f7232
4    34b92f4c-32db-454c-a369-ca2032443f6c
10   1e96c067-412e-4a93-9dc3-2838ef233942
12   0c834cb0-392a-4a5e-948f-237a2c8bef31
14   184a4635-a693-4ccd-af1a-143455c391e1
..                                    ...
972  77644ccb-2ba6-46db-abea-6d81e09ed5af
975  d6324f36-a665-4352-ab7a-65ee0c2bd931
976  93194c84-8aee-4cad-8b19-1c825705e5c3
979  abe99528-6405-4ebb-9b2f-2e76fb08ac53
981  23bae5d9-64ee-46b3-b479-ebd24f5f4a98

                                                 title    label  \
0    Coronavirus| nuove regole: al tavolo al ristor...  Group 2
4    Le borsette fatte a 3 euro l'ora vendute a 820...  Group 1
10   Caso Ciro Grillo| i video e quella telefonata ...  Group 1
12   La madre della neonata salvata in mare: «Chied...  Group 2
14   Finanziaria: almeno 150 milioni nella variazio...  Group 2
..                                                 ...      ...
972  Matera, in casa marijuana e piante di canapa: ...  Group 2
975  Roma Pride, folla in piazza e slogan pro Ddl Z...  Group 2
976                    Clubhouse è durato poco, sembra  Group 2
979          Anche le Carresi inseguono la Zona Bianca  Group 2
981  Natalità. Assegni generosi, congedi e servizi....  Group 1

               annotator  Q1.1  Q1.2  Q1.3  Q1.3.1  Q1.4  Q1.5  Q1.6  Q1.7  \
0                 Manuel     1     2    31      -1     2     4     4     1
4                 Manuel     2     3    31      -1     1     3     2     2
10                Manuel     1     3    20       2     2     4     4     1
12                Manuel     2     3    40       2     2     3     2     2
14                Manuel     1     4    31      -1     2     4     4     1
..                   ...   ...   ...   ...     ...   ...   ...   ...   ...
972  ChatGPT4AsAnnotator     1     4     1       2     2     4     4     1
975  ChatGPT4AsAnnotator     3     4     8       2     2     4     3     2
976  ChatGPT4AsAnnotator     3     4     1       2     2     4     3     1
979  ChatGPT4AsAnnotator     3     4     1       2     2     4     3     1
981  ChatGPT4AsAnnotator     3     4     1       2     2     4     3     1

     Q1.7.1                         Q1.7.1.2  Q2.8  Q2.9.1      Q2.9.2  Q2.10
0         0                               -1     1       2  2021-05-31      2
4         5  Fashion craft industries system     3       1         NaN      1
10        0                               -1     1       1         NaN      1
12        5                               -1     3       2  2021-05-20      2
14        0                               -1     1       2  2021-06-01      1
..      ...                              ...   ...     ...         ...    ...
972       1                               -1     3       2  2021-06-12      1
975      14                            LGBTQ     3       2         NaN      2
976       1                               -1     3       2  2021-05-05      2
979       1                               -1     3       2         NaN      1
981       1                               -1     3       2         NaN      1

[432 rows x 18 columns]

In [3]:
print('Manuel')
manuel = df[df["annotator"] == "Manuel"]
print(manuel['Q1.2'].value_counts())

print('---------------------------')
print('---------------------------')

gpt = df[df["annotator"] == "ChatGPT4AsAnnotator"]
print('ChatGPT')
print(gpt['Q1.2'].value_counts())

Manuel
Q1.2
4    101
3     78
2     35
1      2
Name: count, dtype: int64
---------------------------
---------------------------
ChatGPT
Q1.2
4    196
3     20
Name: count, dtype: int64